.chat-container {
	max-width: 90%;
	border: 1px solid rgb(178, 188, 198);
    border-radius: 2%;
	display: flex;
	flex-direction: column;
	height: 70vh;
	overflow: hidden;
  }
  .chat-messages {
	flex: 1;
	padding: 10px;
	overflow-y: auto;
	background-color: #ffffff;
  }
  .chat-message {
	margin-bottom: 10px;
  }
  .chat-message .user {
	font-weight: bold;
	margin-right: 5px;
  }
  .chat-form {
	display: flex;
	border-top: 1px solid #ddd;
  }
  .chat-form input {
	flex: 1;
	border: none;
	padding: 10px;
  }
  .chat-form button {
	border: none;
	padding: 0 20px;
  }
  .bot-message {
	background-color: #e2e3e5;
	border-radius: 8px;
	padding: 5px 10px;
	display: inline-block;
  }
  .user-message {
	background-color: #cfe2ff;
	border-radius: 8px;
	padding: 5px 10px;
	display: inline-block;
  }
  #user-input{
	border: 1px solid rgb(178, 188, 198);
  }